<h1>Stupid Coaching</h1>
<div id="question">
  <p><%= @user_input %></p>
  <p>-You</p>
</div>
<div id="answer">
  <p><strong><%= @answer %></strong></p>
  <p>-Your Coach</p>
</div>
<%= link_to  "Ask a new question", ask_path %>
